@layer globals, layout, components, utilities;

@layer globals {

	/* Custom Fonts */

	/* source-sans-3-regular - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Source Sans 3';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/source-sans-3-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
	/* source-sans-3-700 - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Source Sans 3';
		font-style: normal;
		font-weight: 700;
		src: url('/fonts/source-sans-3-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}


	/* Fonts */

	:root {

		/* By sizes */
		--fs-14: calc(14 / 16 * 1rem);
		--fs-16: calc(16 / 16 * 1rem);
		--fs-24: calc(24 / 16 * 1rem);
		--fs-36: calc(36 / 16 * 1rem);
		--fs-42: calc(42 / 16 * 1rem);
		--fs-48: calc(48 / 16 * 1rem);
		--fs-72: calc(72 / 16 * 1rem);

		/* By purpose */
		--font-size-top-nav: var(--fs-14);

		--font-size-h1: var(--fs-42);
		--font-size-h2: var(--fs-36);
		--font-size-h3: var(--fs-24);
		
		@media (width >= calc(600 / 16 * 1rem)) { /* Tablet and desktop */
			--font-size-top-nav: var(--fs-16);

			--font-size-h1: var(--fs-72);
			--font-size-h2: var(--fs-48);
			--font-size-h3: var(--fs-24);
			
		}
	}
	

	/* Colours */

	:root {

		/* By Colours */
		--c-transparent: transparent;
		--c-white: hsl(0, 0%, 100%);
		--c-gray-dark: hsl(233, 14%, 25%);
		--c-indigo: hsl(232, 58%, 55%);
		--c-teal: hsl(180, 100%, 42%);
		--c-magenta: hsl(320, 85%, 41%);
		--c-yellow: hsl(49, 99%, 59%);
		
		/* By Purpose */
		--color-main-bg: var(--c-white);
		--color-text-dark: var(--c-gray-dark);
		--color-text-light: var(--c-white);
		--color-header-bg: var(--c-indigo);
		--color-hero-bg: var(--c-indigo);
		--color-button-primary-bg: var(--c-teal);
		--color-button-primary-text: var(--c-gray-dark);
		--color-button-secondary-bg: var(--c-transparent);
		--color-button-secondary-border: var(--c-white);
		--color-button-secondary-text: var(--c-white);
		--color-full-width-bg: var(--c-magenta);
	}


	/* Breakpoints */

	:root {

		/* ! These won't work inside a media query without a sass mixin ! */

		--screen-large: 1200px; 
		--screen-desktop: 900px;
		--screen-tablet: 600px;
		--screen-mobile: 450px;
	}


	/* Basic reset/boilerplate styles */

	body {
		background-color: var(--color-main-bg);
		padding-block-end: 50vh; /* Temporary - remove at end of project */
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
	}

	a {
		text-decoration: none;
	}

	img,
	picture,
	svg {
		display: block;
		max-width: 100%;
		height: auto;
	}

	ul,ol,dl,li {
		
		padding: 0;
		list-style-type: none;
	}


	/* Typography */

	body {
		font-family: 'Source Sans 3', 'Open Sans', Arial, Helvetica, sans-serif;
		line-height: 1.3; /* 130% */
		color: var(--color-text-dark);
	}

	h1, h2, h3 {
		line-height: 1.1;
	}

	h1 {
		font-size: var(--font-size-h1);
	}

	h2 {
		font-size: var(--font-size-h2);
	}

	h3 {
		font-size: var(--font-size-h3);
	}
}

@layer layout {

	/* Layout */

	.container {
		/* Mobile first */
		width: min(calc(100% - 48px), calc(1200 / 16 * 1rem));
		
		/* This simulates the use of min-width and max-width in a single declaration */
		margin-inline: auto; /* Set left and right margins only */
		overflow: hidden;
	}


	/* Main Header */

	.header {

		background: var(--color-header-bg) url("/img/unicorn_web.svg") no-repeat;
		background-size: 199.89px 205px;
		background-position: 50% 20%;
		transition: background .2s ease-in-out;
		color: var(--light-text);
		
		padding: 0 0 80px 0;

		@media (min-width: 600px) {
			background-size: 26%;
			background-position: 75% 65%;
			min-height: 682px;

			padding: 0 0 80px 0;
		}

		.header__header-info {
			line-height: 100%;
			color: var(--color-text-light);

			padding-block-start: 175px; /* 225 */

			@media (min-width: 700px) {
				padding-block-start: unset;
			}

		}

		.marketing-title {
			word-wrap: normal !important;
			text-wrap: normal !important;
		}

		.button-group {

			a:first-child {
				margin-left: 0;
			}
		}

	}

}
 
@layer components {

	/* Screen reader skip link */

	.skip {
	
		&.skip:focus {
			background: var(--c-white);
			border: 1px solid;
			padding: .5em;

			left: unset;
			width: unset;
			height: unset;
		}
	}

	/* Top Nav */

	.top-nav {

		background-color: var(--color-header-bg);
		background-color: var(--c-transparent);

		/* height: u.rem(76); */
		height: calc(44 / 16 * 1rem);
		border-bottom: 1px solid var(--body-text-color);
		/* margin-bottom: u.rem(80); */
		margin-bottom: calc(80 / 16 * 1rem);
		padding-block: 12px;

		display: flex; /* Added via utility class */
		flex-direction: row;
		justify-content: space-between; /* Sticks logo to the left, sticks menu to the right */

		@media (width >= calc(600 / 16 * 1rem)) {
			height: calc(76 / 16 * 1rem);
			padding-block: 20px;
		}

		.top-nav__home-link {

			height: 100%;
			align-items: center;

			padding-inline-end: 25px; /* Space inbetween logo and menu - like a margin! */
			/* margin-block: 20px; Maybe should be REMs... */

			transition: opacity .2s ease-in-out;
			opacity: 1;

			&:hover {
				opacity: 0.8;
			}
		} 

		.top-nav__logo {

			/* min-width: 70px; Mobile first */
			/* max-width: 100%; */

			width: min(calc(70 / 16 * 1rem), 100%);
			height: auto; /* 20px */
			transition: all .2s ease-in-out;
			align-self: center;

			@media (width >= calc(600 / 16 * 1rem)) {
				width: min(calc(128 / 16 * 1rem), 100%);
			}
			
		}

		.top-nav__menu-list {

			display: flex;
			justify-content: space-around; /* X axis */
			align-items: stretch; /* Y axis */
			height: 100%;
			/* gap: u.rem(20); - this was the old function that converted to a short version of the below */
			gap: calc(20 / 16 * 1rem);
			list-style-type: none;

			@media (width >= calc(600 / 16 * 1rem)) { /* Tablet and desktop */

				gap: calc(40 / 16 * 1rem); /* Space inbetween menu links - like a marign! */
			}

			.menu-list__item {

				display: flex;
				align-items: center;
				
				.menu-list__link {
					
					color: var(--color-text-light);
					font-family: 'Source Sans 3', sans-serif;
					font-size: var(--font-size-top-nav);
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					
					vertical-align: middle;
					/* display: inline-block; */
					/* align-items: center; */

					&:hover,
					&:focus {
						/* color: var(--c-yellow); */
						text-decoration: underline;
						text-decoration-thickness: 2px;
						text-underline-offset: 4px;
					}
				}
			}
		}
	}


	/* Buttons */

	.btn {
		box-sizing: border-box;
		text-align: center;
		/* padding: u.rem(8) u.rem(20); */
		padding: calc(8 / 16 * 1rem) calc(20 / 16 * 1rem);
		/* margin: u.rem(10) u.rem(10); */
		margin: calc(10 / 16 * 1rem);
		display: inline-block;
		border-radius: calc(25 / 16 * 1rem);
	}

	.btn-primary {
		background-color: var(--c-teal);
		/* background: red; */
		font-size: u.rem(18);
		font-weight: 700;
		text-transform: uppercase;
		@extend .btn--pill;
		border: 2px solid var(--c-teal);

		&:hover {
				color: var(--c-yellow);
		}
	}

	.btn-secondary {
		border: 2px solid var(--c-white);
		text-transform: uppercase;
		color: var(--color-light-text);
		@extend .btn--pill;

		&:hover,
		&:focus {
			color: var(--c-yellow);
			border-color: var(--c-yellow);
		}
	}

	.btn--light {
		background-color: var(--c-white);
		color: var(--body-text);
		border-color: var(--c-white);

		&:hover,
		&:focus {
			background: var(--c-yellow);
			color: var(--body-text);
		}
	}


}

@layer utilities {
	
	/* Helpers */

	.visually-hidden,
	.sr-only {
		position: absolute;
		left:     -10000px;
		top:      auto;
		width:    1px;
		height:   1px;
		overflow: hidden;
	}

	.flex {
		display: flex;
	}

	.grid {
		display: grid;
	}

}